@font-face {
    font-family: 'Ribeye';
    src: url('Ribeye-Regular.woff2') format('woff2'),
        url('Ribeye-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

