* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: var(--main-color)
}

:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

.member-info {
  opacity: 0;
  visibility: hidden; 
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.member-info.active {
  opacity: 1;
  visibility: visible;
}

.message {
  font-size: 2.4rem;
  padding: 36px;
  color:var(--main-color);
  font-weight: 600;
  text-align: center;
  }
  
  .product-details {
    width: 100%;
    margin: 20px 0 20px;
  }

  .detailsWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px 0;
    width: 80%;
    margin: 0 auto;
  }

  .detailsWrap .members-card {
    margin: 0 auto;
    width: 95%;
    border-radius: 0 20px;
    background: var(--color-tertiary);
    text-align: center;
    color: var(--main-color);
  }

  .nickname {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }

  .member-info {
    margin: 0 auto;
    padding:14px;
    width: 100%;
  }

  .member-info li {
    list-style: none;
    font-size: 1.3rem;
    line-height: 2;
    overflow-wrap: break-word;
  }

  .img {
    width: 180px;
    height: 180px;
    border-radius: 70%;
    overflow: hidden;
    margin: 40px auto;
  }

  .memberImg {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .members-card .github-logo {
    width: 20%;
  }
  
  .members-card .fa-brands{
    font-size: 3rem;
    padding-top: 10px;
  }

@media (min-width: 768px) {
  
}


