:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

.main-content {
  padding: 32px;
  text-align: center;
  height: 100vh;
}

.member-image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  width: 200px;
}

.member-card {
  display: none;
}

.member-card.active {
  background-color: var(--color-secondary);
  border-radius: 10px;
  display: block;
  margin: 8px;
  padding: 8px;
}

.member-title {
  color: var(--color-tertiary);
  text-align: center;
}

.member-info-container {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  color: var(--main-color);
  padding: 8px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .member-content {
    margin: 0 auto;
    width: 60%;
  }
}