:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

.message {
  font-size: 2.4rem;
  padding: 36px;
  color:var(--main-color);
  font-weight: 600;
  text-align: center;
}

.message p {
  margin: 0;
}

.main-content {
  padding: 32px;
  text-align: center;
  width: 100%;
}

.member-image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  width: 200px;
}

.main-content .member-card {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--color-tertiary);
  opacity: 0.9;
  width: 80%;
  background-color: var(--color-secondary);
  padding: 24px;
  border-radius: 0.3rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
  transition: 1s;
  transition-delay: .5s;
  animation: shake-animation 3.72s;
  transform-origin: 50% 50%;
  margin: 0 auto;
}

.member-card.active {
  background-color: var(--color-secondary);
  border-radius: 10px;
  display: block;
  margin: 8px;
  padding: 8px;
}

.member-title {
  color: var(--color-tertiary);
  text-align: center;
  font-size: 1.5rem;
}

.member-info-container {
  width: 100%;
  background-color: var(--color-tertiary);
  border-radius: 10px;
  color: var(--main-color);
  padding: 24px;
  text-align: center;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .member-content {
    margin: 0 auto;
    width: 60%;
  }
}