* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

.member-info {
  opacity: 0;
  visibility: hidden; 
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.member-info.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width:768px) {
  .product-details {
    width: 100%;
    margin: 100px 0 100px 0;
  }

  .detailsWrap {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .members-card {
    margin: 0 auto;
    width: 90%;
    border-radius: 0 20px;
    background: var(--color-tertiary);
    text-align: center;
    color: var(--main-color);
  }

  .nickname {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }

  .member-info {
    margin: 0 auto;
    padding:14px
  }

  .member-info li {
    list-style: none;
    font-size: 1rem;
    line-height: 2;
  }

  .img {
    width: 180px;
    height: 180px;
    border-radius: 70%;
    overflow: hidden;
    margin: 40px auto;
  }

  .memberImg {
    width: 100%;
    object-fit: cover;
  }

  .github-logo {
    width: 20%;
  }
  
  .fa-brands{
    font-size: 3rem;
    padding-top: 10px;
  }
}




