:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

.main-content {
  text-align: center;
}

.animal-card {
  display: none;
}

.image-wrapper {
  text-align: center;
}

.animal-image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  width: 200px;
}

.extra-info {
  display: none;
}

.animal-card.active {
  background-color: var(--color-secondary);
  border-radius: 10px;
  display: block;
  margin: 8px;
  padding: 8px;
}

.animal-title {
  color: var(--color-tertiary);
  text-align: center;
}

.animal-info-container {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  color: var(--main-color);
  padding: 8px;
}

.read-more-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: var(--color-tertiary);
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .animal-card.active {
    width: 60%;
  }
}
