:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Ribeye";
  margin: 0;
  min-height: 100vh;
}

p {
  font-family: "Cabin", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
}

.header__logo {
  margin-right: 20px;
  flex: 0 0 auto;
  width: 80px;
  height: auto;
}

.main-content {
  text-align: center;
}

.animal-card {
  display: none;
}

.image-wrapper {
  text-align: center;
}

.animal-image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  width: 200px;
}

.extra-info {
  display: none;
}

.animal-card.active {
  background-color: var(--color-secondary);
  border-radius: 10px;
  display: block;
  margin: 8px;
  padding: 8px;
}

.animal-title {
  color: var(--color-tertiary);
  text-align: center;
}

.animal-info-container {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  color: var(--main-color);
  padding: 8px;
  text-align: left;
}

.read-more-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: var(--color-tertiary);
  padding: 16px;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .main-content {
    margin: 0 auto;
    width: 60%;
  }
}
