:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

body {
  margin: 0;
  ;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-tertiary);
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  display: none;
  z-index: 30;
}

.nav-menu a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid;
}

.nav-menu a:hover {
  background-color: darken(var(--main-color), 20%);
  color: var(--color-tertiary);
}

.hamburger {
  cursor: pointer;
  font-size: 30px;
}

.nav-menu.show {
  display: flex;
  border-style: none;
}

@media(min-width: 768px) {
  .nav-menu {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    position: static;
    border: none;
  }

  .nav-menu a {
    border: none;
    color: var(--color-tertiary);
  }

  .nav-menu a:hover {
    background-color: darken(var(--color-tertiary), 10%);
    color: var(--color-secondary);
  }

  .nav-container {
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
}