:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Ribeye", serif;
  margin: 0;
  min-height: 100vh;
}

p {
  font-family: "Cabin", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
}

.header__logo {
  margin-right: 20px;
  flex: 0 0 auto;
  width: 80px;
  height: auto;
}

.main-container {
  display: flex;
  flex: 1;
}

.main-content {
  max-width: 800px;
  margin: 20px auto;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.sidebar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  position: relative;
  transition: 0.5s;
}

.sidebar-content {
  background-color: var(--main-color);
  height: 100%;
  left: -300px;
  overflow-wrap: break-word;
  position: absolute;
  transition: left 0.4s ease;
  transform: translateX(-100%);
  width: 280px;
  z-index: 10;
  overflow-y: auto;
}

.sidebar-content.open {
  transform: translateX(0);
  left: 60px;
}

.sidebar__title {
  color: var(--color-secondary);
  font-size: 1.5rem;
  padding: 8px;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__item {
  color: var(--color-tertiary);
  font-size: 1rem;
  padding: 16px;
  transition: background-color 0.3s;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
  padding: 24px 12px;
  height: 100%;
  width: 60px;
  z-index: 20;
}

.sidebar-tab:hover {
  cursor: pointer;
}

.animal-card {
  background-color: var(--color-tertiary);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  display: none;
  transition: transform 0.2s;
}

.animal-card.active {
  background-color: var(--color-secondary);
  display: block;
}

.animal-title {
  color: var(--color-tertiary);
  text-align: center;
}

.animal-info-container {
  background-color: var(--color-tertiary);
  border-radius: 10px;
  color: var(--main-color);
  padding: 8px;
  text-align: left;
}

.image-wrapper {
  text-align: center;
}

.animal-image {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  width: 200px;
}

.extra-info {
  display: none;
  margin-top: 10px;
  font-family: "Cabin", serif;
}

.read-more-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: var(--color-tertiary);
  padding: 16px;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: var(--color-secondary);
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .main-content {
    width: 60%;
  }

  .sidebar-content {
    width: 300px;
  }

  .sidebar__item {
    padding: 15px;
  }

  .read-more-btn {
    padding: 12px 20px;
  }
}
