:root {
  --main-color: #123524;
  --color-secondary: #3E7B27;
  --color-tertiary: #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-color);
  color: var(--color-secondary);
}

#sidebar-container {
  width: 200px;
  margin: 20px;
}

#sidebar-container h2 {
 text-align: center;
}

#sidebar-container a {
  text-decoration: none;
  color: var(--color-secondary);
}

#sidebar-container a:hover {
  text-decoration: underline;
  color: var(--color-tertiary);
}

#sidebar-container a.active {
  font-weight: bold;
  color: var(--color-tertiary);
}

.reptiles {
  background-color: var(--color-tertiary);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

#reptiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reptile-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  width: 300px;
  transition: transform 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
  border-radius: 5px;
}

.reptiles h2 {
  text-align: center;
}

.reptile-item:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-secondary);
  transform: translateY(-5px);
}

.reptile-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: center;
}

button {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--color-tertiary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-secondary);
}

button:focus {
  outline: none;
}

@media (min-width: 768px) {

  #reptiles-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reptile-item {
    width: calc(33.33% - 20px);
  }
}