:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
}

.header__logo {
  width: 80px;
  height: auto;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-tertiary);
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: none;
}

.nav-menu a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid;
  transition: background-color 0.3s, color 0.3s;
}

.nav-menu a.active {
  background-color: var(--color-secondary);
  color: var(--main-color);
}

.nav-menu a:hover {
  background-color: darken(var(--color-secondary), 10%);
}

.hamburger {
  cursor: pointer;
  font-size: 30px;
}

.nav-menu.show {
  display: flex;
}

@media(min-width: 768px) {
  .nav-menu {
    flex-direction: row;
    position: static;
    display: flex;
    border: none;
  }

  .nav-menu a {
    border: none;
  }

  .nav-menu a:hover {
    background-color: darken(var(--color-secondary), 10%);
    color: var(--main-color);
  }

  .nav-container {
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
}
