:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main-tertiary);
}

.header-logo {
  margin: 12px;
}

.main{ 
  background: var(--main-color);
  display: flex;
  gap:20px;
  justify-content: space-between;
  height: 700px;

}

.menu{
  display: none;
  cursor: pointer;
}

.sidebar{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 200px;
  text-align: center;
}

.sidebar a{
  color: aquamarine;
  font-size: 2rem;
}


.sidebar li{
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 1rem;
  padding-top: 10px;
  list-style: none;
}

.sidebar li:hover{
  background-color: aqua;
  color: red;
}

.hide{
  display: none;
}

.mainContent{
  flex:1;
  margin: auto 0;
  text-align: center;
}

.mainContent .photo{
  height: 60%;
  width: 60%;
  margin: auto;
}

.mainContent .pic{
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.less{
  
  text-align: center;

}

.more{
 
  text-align: center;
  
}

.button{
  background-color: chartreuse;
  border-radius: 5px;
  color: rgb(222, 125, 145);
  font-weight: 700;
  height: 30px;
  cursor: pointer;
  margin: 0 auto;
}

.button:hover{
  background-color: coral;
  font-size: 1rem;
  height: 50px;
}


@media (max-width:768px) {
  .sidebar {
    display: none;
 }
  
 .sidebar a {
  font-size: 15px;
  margin-left: -111px;
 }

 .sidebar li{
  font-size: 15px;
  margin-left: -111px;
 }

  .menu {
    display: block;
    height: 50px;
    width: 50px;
  }
 
 .mainContent .photo{
  height: 140px;
  width: 180px;
  margin:10px 20px;
}

.more{
  width: 445px;
  margin-left: -218px;
}

.box{
  display: block;
  text-align: left;
  
}


}

























.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover{
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .header-logo{
    margin: 20px;
    width: 100px
  }
}
