:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-tertiary);
  color: var(--main-color);
  margin: 0;
}

