:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex:1;
}

.main__sidebar { 
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  position: relative;
  transition: 0.5s;
}

.sidebar.open {
  left: 60px;
}

.sidebar {
  background-color: var(--main-color);
  height: 100%;
  left: -280px;
  margin: 0;
  padding: 16px;
  position: absolute;
  overflow-wrap: break-word;
  top:0;
  transition: left 0.4s ease;
  width: 280px;
  white-space: normal;
  z-index: 10;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
  height: 100%;
  padding: 24px 12px;
  position: relative;
  width: 60px;
  z-index: 20;
}

.sidebar a {
  color: var(--color-secondary);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 8px;
}

.sidebar .ulList {
 list-style: none;
 margin: 0;
 padding: 8px;
}

.ulList .list {
  color: var(--color-tertiary);
  font-size: 1rem;
  padding: 16px;
}

.ulList .active {
  display: none;
}




