:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

.sidebar{
  background-color: var(--main-color);
  display: flex;
  gap:24px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
  width: 150px;
  
}

.mammals__title, .birds__title, .reptiles__title {
  color: var(--color-secondary);
  font-size: 2rem;

}

.sidebar li{
  list-style: none;
  height: 100px;
  width: 100%;

}




@media screen and (max-with:768px){
  
}

.sidebar-link:hover {
    background-color: #f5f5f5;
    color: #009dff;
}