:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main-tertiary);
}

.header-logo {
  margin: 12px;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .header-logo {
    margin: 20px;
    width: 100px;
  }
}
.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-hero-section {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--color-tertiary);
}

.welcome-tagline {
  font-size: 2rem;
}

.welcome-main-title {
  font-size: 3rem;
}

.welcome-description {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 32px;
}

.welcome-hero-section {
    padding-top: 100px; 
  }

  .welcome-tagline { 
    font-size: 2rem; 
  }

  .welcome-main-title {
    font-size: 3rem; 
  }

  .welcome-description { 
    font-size: 1.3rem; 
  }

@media (min-width:768px) {
  .welcome-hero-section {
    padding-top: 200px; 
  }
}
