:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main-tertiary);
}

.header-logo {
  margin: 12px;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/background-image.jpg);
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;  
}

.welcome-hero-section {
  width: 95%; 
  margin: 0 auto;
  text-align: center;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--color-tertiary);
}

.welcome-tagline {
  font-size: 1.5rem;
}

.welcome-main-title {
  font-size: 2rem; 
}

.welcome-description {
  font-size: 1rem;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover{
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .header-logo{
    margin: 20px;
    width: 100px
  }

  .welcome-hero-section {
    padding-top: 200px; 
  }

  .welcome-tagline { 
    font-size: 2rem; 
  }

  .welcome-main-title {
    font-size: 3rem; 
  }

  .welcome-description { 
    font-size: 1.3rem; 
  }
}

