:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

li{
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main-tertiary);
}

.header-logo {
  margin: 12px;
}

.main-container {
  display: flex;
  flex: 1;
}

.main-sidebar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  transition: 0.5s;
}

.sidebar.open {
  left: 60px;
}

.sidebar {
  background-color: var(--main-color);
  height: 100%;
  left: -280px;
  padding: 16px;
  position: absolute;
  overflow-wrap: break-word;
  transition: left 0.4s ease;
  width: 280px;
  white-space: normal;
  z-index: 10;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
  height: 100%;
  padding: 24px 12px;
  position: relative;
  width: 60px;
  z-index: 20;
}

.sidebar a {
  color: var(--color-secondary);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 8px;
}



.sidebar  li {
  color: var(--color-tertiary);
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.hide {
  display: none;
}

.main-content {
  align-items: center;
  animation: shake-animation 3.72s;
  background-color: var(--color-secondary);
  border-radius: 0.3rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.9;
  padding: 16px 0;
  transition: 1s;
  transition-delay: 0.5s;
  transform-origin: 50% 50%;
  width: 80%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* .title {
    margin: 1rem;
} */

.pic {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.less {
  background-color: var(--color-tertiary);
  border-radius: 0.3rem;
  text-align: center;
  color: var(--main-color);
  padding: 16px;
}

.section-title {
  margin: 0;
}

.description,
.section-paragraph {
  padding-bottom: 1.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.section-link {
  color: var(--main-color);
}

.more {
  height: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  padding: 16px;
}

.button {
  background-color: chartreuse;
  border-radius: 5px;
  color: rgb(222, 125, 145);
  font-weight: 700;

  cursor: pointer;
  margin: 0 auto;
}

.button:hover {
  background-color: coral;
  font-size: 1rem;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header-logo {
    margin: 20px;
    width: 100px;
  }
}
