:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
}

.header-logo {
  margin-right: 20px;
  width: 80px;
}

.welcome-hero-section {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--color-tertiary);
}

.welcome-tagline {
  font-size: 1.5rem;
}

.welcome-main-title {
  font-size: 2rem;
}

.welcome-description {
  font-size: 1rem;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

.nav-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-menu {
  display: none;
  flex-direction: column;
  background-color: var(--color-tertiary);
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
}

.nav-menu a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid;
  transition: background-color 0.3s, color 0.3s;
}

.nav-menu a.active {
  background-color: var(--color-secondary);
  color: var(--main-color);
}

.main__sidebar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: width 0.5s;
  white-space: nowrap;
  width: 60px;
}

.main__sidebar:hover {
  width: 200px;
}

.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
}

.sidebar ul li {
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  padding: 10px 0;
}

.sidebar ul li:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .nav-menu {
    flex-direction: row;
    display: flex;
    position: static;
    background-color: transparent;
    box-shadow: none;
  }

  .nav-menu a {
    border: none;
  }

  .nav-container {
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-logo {
    width: 100px;
  }

  .nav-menu.show {
    display: flex;
  }

  .welcome-hero-section {
    padding-top: 200px;
  }

  .welcome-tagline {
    font-size: 2rem;
    }

    .welcome-main-title {
      font-size: 3rem;
    }

    .welcome-description {
      font-size: 1.3rem;
    }
  }
