:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}

