:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

.main__sidebar img{
  display: none;
}

.main__sidebar{ 
  background: var(--main-color);
  display: flex;
  gap:20px;
  justify-content: space-between;
  height: 700px;

}

.sidebar{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 200px;
  text-align: center;
}

.sidebar a{
  color: aquamarine;
  font-size: 2rem;
}


.sidebar li{
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  padding-top: 10px;
  text-decoration: none;
}

.sidebar ul li:hover{
  background-color: aqua;
  color: red;
}

.main__sidebar{ 
  background: rgb(4, 61, 4);
  display: flex;
  gap:20px;
  justify-content: space-between;
  height: 700px;

}

.active{
  display: none;
}

.sidebar ul li:hover{
  background-color: aqua;
  color: red;
}




@media (max-width:768px) {
  .sidebar a{
  font-size: 1rem;
}
  
  .main__sidebar img{
    display: block;
    height: 50px;
    width: 50px;
  }

  .sidebar{
    display: none;
    
  }

  .hide{
    display: block;
  
  }

}




