:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
