:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--main-tertiary);
}

.header-logo {
  margin: 12px;
}

.main{ 
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
  width: 60px;
}

.main:hover{
  width: 100%;
  white-space: normal;
}

.sidebar{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:30px;
  width: 100px;
  text-align: center;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
  padding: 24px 12px;
}

.sidebar:visited,
.side__title {
  color: var(--color-secondary);
  font-size: 2rem;
  text-decoration: none;
}

.sidebar li{
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  padding-top: 10px;
  text-decoration: none;
  
}

.sidebar li:hover{
  color: var(--color-secondary);
  transform: scale(1.1);
}

.hide{
  display: none;
}

.mainContent{
  flex:1;
  margin: auto 0;
  text-align: center;
  white-space: normal;
}

.mainContent .photo{
  height: 60%;
  width: 60%;
  margin: auto;
}

.mainContent .pic{
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.more{
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
 
}

.button{
  background-color: chartreuse;
  border-radius: 5px;
  color: rgb(222, 125, 145);
  font-weight: 700;
  
  cursor: pointer;
  margin: 0 auto;
}

.button:hover{
  background-color: coral;
  font-size: 1rem;

}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media:visited,
.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover{
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header-logo{
    margin: 20px;
    width: 100px
  }

  .side__title {
   font-size: 20px;
   margin-left: 10px;
  }

 .sidebar li{
  font-size: 15px;
  }

  .mainContent .pic{
   border-radius: 50%;
   height: 50px;
   width: 50px;
  }

  .less, .more{
    font-size: 10px;
  }

}
