:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

.nav-container {
  position: relative;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-tertiary);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  float: right;
  background-color: var(--color-secondary);
}

.nav-menu a {
  color: var(--color-tertiary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu a:hover {
  background-color: var(--main-color);
  color: var(--color-tertiary);
}

.nav-menu a.active {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--color-secondary);
    top: 50px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  .nav-menu.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
} 