:root {
  --main-color: #123524;
  --color-secondary: #3E7B27;
  --color-tertiary: #EFE3C2;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.reptiles {
  background-color: var(--color-tertiary);
  font-family: Arial, sans-serif;
  padding: 10px;
}

#reptiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reptile-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;;
}

.reptile-item:hover {
  background-color: #c1e7c1;
  border-color: #3E7B27;
  transform: translateY(-5px);
}

.reptile-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  #reptiles-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reptile-item {
    width: calc(33.33% - 20px);
  }
}