:root {
  --main-color :#123524;
  --color-secondary : #3E7B27;
  --color-tertiary : #EFE3C2;
}

#reptiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reptile-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.reptile-image {
  max-width: 100%;
  height: auto;
}