:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
}

.header-logo {
  margin-right: 20px;
  flex: 0 0 auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;  
}

.welcome-hero-section {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.wrap {
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--color-tertiary);
}

.welcome-tagline {
  font-size: 1.5rem;
}

.welcome-main-title {
  font-size: 2rem;
}

.welcome-description {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 32px;
}

.footer {
  background-color: var(--main-color);
  color: var(--color-tertiary);
  padding: 16px;
  text-align: center;
}

.icon {
  margin: 8px;
}

.social-media a {
  color: var(--color-tertiary);
  text-decoration: none;
}

.icon:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .header-logo {
    width: 100px;
  }
.main__sidebar.open{
  width: 320px;
}

  .nav-menu.show {
    display: flex;
  }

  .welcome-hero-section {
    padding-top: 200px; 
    }
  .welcome-hero-section {
    padding-top: 100px; 
  }

  .welcome-tagline {
    font-size: 2rem;
    }

    .welcome-main-title {
      font-size: 3rem;
    }

    .welcome-description {
      font-size: 1.3rem;
    }

   
  }

  .welcome-description { 
    font-size: 1.3rem; 
  }

@media (min-width:768px) {
  .welcome-hero-section {
    padding-top: 200px; 
  }
}

