:root {
  --main-color: #123524;
  --color-secondary: #3e7b27;
  --color-tertiary: #efe3c2;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  overflow: hidden;
  position: fixed;
  transition: 0.5s;
  width: 60px;
  z-index: 999;
  height: 100%;
  align-self: stretch;
  bottom: var(--footer-height);
}

.sidebar.open {
  width: 320px;
}

.sidebar__title {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.sidebar__item {
  color: var(--color-tertiary);
  font-size: 1rem;
}

.sidebar-tab {
  color: var(--color-tertiary);
  font-size: 2rem;
  padding: 24px 12px;
}

.sidebar__item,
.sidebar-content {
  padding: 16px;
}

.sidebar-content {
  overflow-wrap: break-word;
  white-space: normal;
  width: 300px;
}

.sidebar__list {
  list-style: none;
  margin: 0;
}

.sidebar__title,
.sidebar__list {
  padding: 8px;
}

.main-content {
  margin-left: 60px;
  padding: 32px;
}

@media screen and (min-width: 768px) {
  .sidebar:hover {
    width: 320px;
  }
}
