@font-face {
  font-family: "Ribeye";
  src: url("../fonts/Ribeye-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Regular.woff2") format("woff2"),
    url("../fonts/Cabin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
